# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Flask-Server CI

defaults:
  run:
    shell: bash
    working-directory: ./flask-server

on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:

env:
  ALGOLIA_API_KEY: ${{secrets.ALGOLIA_API_KEY}}

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Create Firebase Admin SDK JSON
      env:
        FIREBASE_ADMIN_SDK : ${{secrets.FIREBASE_ADMIN_SDK}}
      run: |
          echo $FIREBASE_ADMIN_SDK >> ece444bulletin-firebase-adminsdk.json
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9.x"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e '.[dev]'
    - name: Test with pytest
      run: |
        pytest -vv
